# ========================================
# Cmake stuff
# ========================================
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# ========================================
# OS dependent stuff
# ========================================
.DS_Store

# ========================================
# IDE stuff
# ========================================

# VS Code
.vscode

# CLion
.idea
.clion-debug
.clion-release
.clion-test

# ========================================
# Compiled stuff
# ========================================
build/
.build/
.debug/
.test/
.release
