# ========================================
# Cmake stuff
# ========================================
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

# ========================================
# OS dependent stuff
# ========================================
.DS_Store

# ========================================
# IDE stuff
# ========================================
.vscode

# ========================================
# Compiled stuff
# ========================================
build/
.build/
.debug/
.test/
.release
